---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://e9n.dev/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://e9n.dev/blog/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://e9n.dev/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://e9n.dev/cv/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://e9n.dev/projects/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- for post in collections.posts %}
  {%- if not post.data.draft %}
  <url>
    <loc>https://e9n.dev{{ post.url }}</loc>
    <lastmod>{{ post.date | date }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endif %}
  {%- endfor %}
  {%- for project in collections.projects %}
  <url>
    <loc>https://e9n.dev{{ project.url }}</loc>
    <lastmod>{{ project.date | date }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor %}
</urlset>
